.gallery-container {
  flex-basis: 40%;
  padding: 20px;
  text-align: center;
}

.gallery {
  width: 100%;
  height: 300px; /* adjust the height to your liking */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}